{% extends "TFELibrairieBundle:admin:layout.html.twig" %}

{% block title %}{{ parent() }} - Maison d'édition{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h3 align="center">Liste des maisons d'éditions</h3>
        <p>
            {# On affiche tous les messages flash dont le nom est « info » #}
            {% for message in app.session.flashbag.get('info') %}
                <p>Informations : {{ message }}</p>
            {% endfor %}
        </p>
    </div>

    {% if editions|length == 0 %}
        <div class="jumbotron">
            <h4 align="center">Pas de maison d'édition enregistrée</h4>
        </div>
    {% else %}
        <table class="table table-striped">
            <thead>
            <tr class="info">
                <th class="col-sm-3">Nom</th>
                <th class="col-sm-3">URL</th>
                <th class="col-sm-3">Outils</th>
            </tr>
            </thead>
            <tbody>
            {% for edition in editions %}
                <tr>
                    <td class="col-sm-3">{{ edition.nomEdition }}</td>
                    <td class="col-sm-3">{{ edition.urlEdition }}</td>
                    <td class="col-sm-3">
                        <a href="{{ path('admin_edition_modifier', {'id' : edition.id}) }}">Modifier</a> -
                        <a href="{{ path('admin_edition_supprimer', {'id' : edition.id}) }}" onclick="return confirm('Etes-vous certain de vouloir supprimer?')">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}