{% extends "TFELibrairieBundle:admin:layout.html.twig" %}


{% block body %}
    <div class="jumbotron" align="center">
        <h3>Ajouter un format</h3>
    </div>
    
    <div class="well col-sm-offset-2 col-sm-8">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}
        <div class="form-group ">
            <div class="col-sm-4">
                {{ form_label(form.nomFormat,"Format" ,{'label_attr' : {'class': 'control-label'} }) }}
            </div>
            <div class="col-sm-8">
                {{ form_errors(form.nomFormat) }}
            </div>
            {{ form_widget(form.nomFormat, {'attr': {'class' : 'form-control'}}) }}
        </div>
        {{ form_widget(form.sauvegarder, {'attr': {'class' : 'btn btn-primary pull-right'}}) }}
        <a href="{{ path('admin_format_liste') }}"><button class="btn btn-danger" type="button">Annuler</button></a>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
